*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Origin Super Condensed', sans-serif;
    
}

.container{
    margin: auto 100px;
}

.fcontainer
{
    
}

.wrap {
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 80px;
}

.bgimage
{
    background-image: url('backgroundmpl.jpeg');
}


nav {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #640000;
    justify-content: space-around;
    padding: 20px 0;
    color: white;
    height: 45px;
    align-items: center;
}

/*Mengatur NavBar MPL*/

nav .navMPL {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;

}

.pilihan {
    display: flex;
    list-style: none;
    width: 50%;
    font-weight: 500px;
    justify-content: space-between;
}

.pilihan a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.pilihan img{
    width: 25px;
    height: 25px;
    border-radius: 25px
}

.pilihan li a:hover {
    color: red;
}


.homepages {
    width: 100%;
    position:fixed;
    top:80px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    
    
    
}

.homepage {
    padding: 10px;
    text-align: center;
    font-size: small;
}



 

/*Mengatur Logo*/

.logo img {
    width: 75px;
    height: 60px;
}

.logo a {
    display: flex;
    align-items: center;
    color: white;
    list-style: none;
    font-size: 0.7cm;
    text-decoration: none;
}

/* Grid News */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px;
}
.right-box {
max-height: 300px; 
overflow-y: auto;
}
.news-item {
margin-bottom: 10px; 
overflow: hidden; 
}
.border-box {
border: 1px solid #000;
padding: 1px;
font-size: 14px;
}


.Image {
    list-style-type: none;
}

.Image > li> img {
    width: 78px;
    height: 60px;
    
}


.aktif {
    font-family: 'Astoria',sans-serif;
    color: red;
    font-weight: 400;
}

.gap{
    padding: 24px;
}

.vertical-menu
{
    width: 412.8px;
    height: 322.23px;
    overflow-y:auto;
}
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 12.8px;
    font-family:  sans-serif;
}

.vertical-menu a:hover {
    color:#640000;
}

.vertical-menu a.active {
    background-color: #640000;
    color: white;
}

.accordion{
    background: none;
    color: black;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    padding: 20px;
    border-top: double;
    font-size: 16px;
}


.accordion-content{
    color: black;
    padding: 0 24px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.vertical-faq
{
    margin:auto 100px;
    height: 200.23px;
    overflow-y:auto;
}
.vertical-faq a {

}

.vertical-faq a.active {
    background-color: #640000;
    color: white;
}

.footercontainer{
    background-color: #640000;
    width: 100%;
    height: 100px;
}

.footer{
    margin: auto 100px;
    display: flex;
    
}

.footer img{
    padding-left: 20px;
    padding-top: 5px;
    width: 40px;
    height: 44px;
}

.footer a img:hover{
    background-color: black;
}

.copyrightscontainer{
    background-color: white;
    width: 100%;
    height: 50px;
    
}
.copyrights{
    margin-top: 25px;
    margin-left: 100px;
    color: gray;
}